* {
    margin: 0;
    padding: 0;
}

/* Shared style */
body {
    font-family: 'lato';


}

.wlc {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    border: none;
}

.wlctypo {
    margin: 30px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/* single style */
.home {
    display: flex;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    align-items: center;
}

.wlcnote {
    width: 700px;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}





.wlcpic {
    width: 635px;
    height: 800px;
    margin-bottom: -54px;

}

.content-head {
    display: block;
    text-align: center;
    margin-top: 180px;

}

.content-head>h3 {
    font-size: 40px;
    margin-bottom: 24px;

}

.content-head>p {
    width: 600px;
    margin: auto;
    word-wrap: break-word;

}

.third {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 30px;
    width: 1440px;

}

div.box {
    width: 460px;
    height: 540px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.first {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}

.sec {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.trd {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.pngone {
    width: 310px;
    height: 428px;
    margin-bottom: -112px;

}

.pngtwo {
    width: 370px;
    height: 370px;
    margin-bottom: -90px;
}

.pngthree {
    width: 314px;
    height: 471px;
    margin-bottom: -68px
}

.desc {
    Copy color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.delivery-box {
    display: flex;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px auto;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

}

.delivery {
    text-align: center;
}

.delivery-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding: 20px 0;
}

.deals {
    display: flex;
    height: 450px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    align-items: center;

}

.deal {
    text-align: center;
    width: 590px;



}

.deal>.wlc {
    font-size: 40px;
    font-weight: 800;
}

.deal-pic {
    width: 318px;
    height: 420px;
}

#off {
    color: #E55473;
}

.insta-head .wlc {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}

.insta-head .wlcnote {
    margin-top: 10px;
}

.insta-pic {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

.banner .wlc {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    margin-bottom: 20px;
}

.banner {
    text-align: center;
    margin: 128px auto 128px;
    background-image: url('Flower Asset/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
}

.subscribe {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 50px;

}

.email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;

}

.subscribe.btn {}

::placeholder {
    padding: 22px 22px 512px 22px;
}

footer {
    width: 1922px;
    height: 450px;
    background: #111010;
    margin: auto;
}

.foothead {
    text-align: center;
    color: #FFF;
    padding-top: 128px;
}

footer .wlctypo {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 625px;
    margin: auto;
    padding-top: 50px;
}

h1>span {
    color: #E55473;
    font-weight: 800;
}
.rights{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-top: 20px;
}